body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

select, input, button {
    padding: 8px;
    margin: 5px;
}

button {
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    padding: 10px;
}

#carrito {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.venta {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}